/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}


#content{
    margin-left:20px;
}

.sidebar-heading{
    font-weight:bold;
    font-size:1.2em;
}

#sidebar-wrapper{
    padding:10px;
}

#page-content-wrapper{
    width: 100%;
}

.validation-errors{
    color:red;
}



/* mod nav */

a.navbar-brand {
  padding-left: 15px;
  display: flex;
  align-items: center;
}


.logoControl {
  padding: 1px;
  display: block;
  margin-right: 2em;
}

.logoCustom {
  display: block;
  max-width: 190px;
}

.logoCustom img {
  display: block;
  max-height: 60px;
}
.logoCustom.isSVG img {
  height: 60px;
}
span.siteName {
  padding: 0.25em 1.5em 0.25em 1.5em;
  border-left:1px solid var(--gray);
  border-right:1px solid  var(--gray);
  margin-right: 0em;
}

span.siteName > span {
  display: block;
  text-align: left;
  line-height: 1.4em;
}

.dName {
  font-weight: 800;
}

header > nav.navbar {
  padding-top: 1.65em;
  padding-bottom: 1.25em;
  background-color: var(--white); /* default */
}

header > nav.navbar > div.container {
  width:auto;
  min-width: 100%;
}

header > nav.navbar.border-bottom {
  border-color:#efefef  !important;
} 

header > nav.navbar .navbar-brand {
  font-size:1em !important;
}

nav.navbar {
  font-size: 0.95em !important;
}





