/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}


#content{
    margin-left:20px;
}

.sidebar-heading{
    font-weight:bold;
    font-size:1.2em;
}

#sidebar-wrapper{
    padding:10px;
}

#page-content-wrapper{
    width: 100%;
}

.validation-errors{
    color:red;
}



/* mod nav */

a.navbar-brand {
  padding-left: 15px;
  display: flex;
  align-items: center;
}


.logoControl {
  padding: 1px;
  display: block;
  margin-right: 2em;
}

.logoCustom {
  display: block;
  max-width: 190px;
}

.logoCustom img {
  display: block;
  max-height: 60px;
}
.logoCustom.isSVG img {
  height: 60px;
}
span.siteName {
  padding: 0.25em 1.5em 0.25em 1.5em;
  border-left:1px solid var(--gray);
  border-right:1px solid  var(--gray);
  margin-right: 0em;
}

span.siteName > span {
  display: block;
  text-align: left;
  line-height: 1.4em;
}

.dName {
  font-weight: 700;
}

header > nav.navbar {
  padding-top: 1.65em;
  padding-bottom: 1.25em;
  background-color: var(--white); /* default */
  box-shadow: 0px 10px 20px -5px rgba(0, 0, 0, 0.35);
}

/* typo */
h1 {
  font-size:2.2em;
  margin-bottom: 0.5em;
}



/* page body */

div.container {
  width:100%;
  min-width: 100%;
}
body > div.container {
  width: 100%;
  min-height: 75vh;
}
main {
  padding:2vw 1.5vw;
  min-height: 75vh;
  display: flex;
  align-items: stretch;
}
@media (min-width: 1800px) {
  main {
    max-width: 75vw;
    margin: 0px auto;
  }
}

body > footer > div {
  text-align:center;
  font-size:0.9em;
  padding-right: 2.5em !important;
}

header > nav.navbar.border-bottom {
  border-color:rgba(255,255,255,0.95)  !important;
} 

header > nav.navbar .navbar-brand {
  font-size:1em !important;
}

nav.navbar {
  font-size: 0.95em !important;
}

header > nav.navbar div.navbar-collapse ul {
  flex-wrap: wrap;
}

header > nav.navbar div.navbar-collapse ul li:first-child {
   flex:0 1 100%
}
header > nav.navbar div.navbar-collapse ul li a {
  display: inline-block;
}
header > nav.navbar div.navbar-collapse ul li a,
header > nav.navbar div#CurrentOrderDetails div {
  padding-top: 0;
  padding-bottom: 0;
  line-height: 1.4em;
}

@keyframes color-animation {
  0% {
    background-color: rgba(200,200,200,0.2);
  }
  50% {
    background-color: rgba(200,200,200,0);
  } 
  100% {
    background-color: rgba(200,200,200,0.3);
  } 
}

header > nav.navbar div#CurrentOrderDetails {
  background-color: rgba(200,200,200,0.2);
  padding:0.5em 1em;
  border-radius:6px;
  margin-right: 5px;
  border:1px solid rgba(255,255,255,0.1);
  white-space: nowrap;
  animation: color-animation 5s infinite linear alternate;
}

header > nav.navbar a {
  color: #0366d6 !important;
}
header > nav.navbar a:hover {
  color: #0366d6 !important;
  text-decoration: underline;
}






/* body */
#wrapper {
  width: 100%;
  justify-content: space-between;
  align-items: stretch;
}

#sidebar-wrapper {
  padding:2vw;
  flex-basis: 20%;
  background:none !important;
}
#page-content-wrapper {
  padding:1.5vw 3vw;
  flex-basis: 85%;
}
div.col-md-6 {
  flex-basis: 45%;
  max-width: 45%;
}
div.row {
}

table.table {
  margin-top: 2em;
  border-top:3px solid black;
}
.table th,
.table td {
  padding: 0.6em 0.5em;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}



/* sidebar */
#sidebar-wrapper div.list-group {
  margin: 1em 0;
}

#sidebar-wrapper div.list-group a {
  display:block;
  background-color: rgba(0,0,0,0.03);
  border:1px solid rgba(0,0,0,0.1);
  border-radius: 6px !important;
  padding:0.5vw 1vw 0.65vw 1vw;
  margin:0.45em 0;
  transition: 0.5s;
}

#sidebar-wrapper div.list-group a:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: rgba(0,0,0,0.8);
  border:1px solid rgba(0,0,0,0.03);
  transform: translateX(5px);
  transition: 0.25s;
}


/* form */
input[type=button],
input[type=submit] {
  margin: 1.5em 0.5em 1.5em 0em;
}
.form-control {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}